<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">

    <title>Polymer pattern library example</title>
    <link rel="stylesheet" media="all" href="/css/screen.css">

    <script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>

    <!-- imports -->
    {% include elements.html %}
</head>
<body unresolved>
    <header>
        <a href="/"><h1>Pattern Library</h1></a>
    </header>
    <main>
        {{ content }}
    </main>
</body>
</html>
